@(signupForm: Form[User])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
@helper.form(action = routes.UserController.signupPost(), 'id -> "form-signin") {
<h2>Please sign in</h2>
@if(signupForm.hasGlobalErrors) {
<p class="error">
    @signupForm.globalError.message
</p>
}

@if(flash.contains("success")) {
<p class="success">
    @flash.get("success")
</p>
}
<input type="email" name="email" placeholder="Email address" class="login-input" required="required">
<input type="password" name="password" placeholder="Password" class="login-input" required="required">
<button type="submit" class="login-submit">Log in</button>
}
<body>

</body>
</html>